.root {
    -fx-background-color: #A7A7A7;
}

#toolBar {
    -fx-background-color: #444444;
}
.label {
    -fx-text-fill: #050505;
}

.button{
    -fx-background-color: aqua;
    -fx-padding: 4px 4px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;

}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: #dedede;
}

.button:pressed {
    -fx-background-color: blue;
}

