@import "global.css";
.button {
    -fx-background-color: #999999;
    -fx-text-fill: #050505;
}
#btnYesEditor {
    -fx-background-color: #4cff00;
    -fx-text-fill: #050505;
}

#btnNoEditor {
    -fx-background-color: #ff0000;
    -fx-text-fill: #050505;
}
#cardPreview {
    -fx-background-color: #aaaaaa;
    -fx-border-color:#a1a1a1;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-border-width: 2;
    -fx-end-margin: 5;
    -fx-start-margin: 5;
}
